body{
    margin: 0;
    padding: 0;
}

.acerca{
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    flex-wrap: wrap;
    font-family: 'Roboto';
}
.otros{
    padding-left: 30px;
    padding-right: 30px;
}
.inf p{
    text-align: justify;
}

